altgraph==0.17.2
asgiref==3.8.1
beautifulsoup4==4.12.3
crispy-bootstrap5==2024.10
Django==4.2.17
django-bootstrap-v5==1.0.11
django-crispy-forms==2.3
fontawesomefree==6.6.0
future==0.18.2
gunicorn==23.0.0
macholib==1.15.2
packaging==24.2
pillow==11.1.0
psycopg2-binary==2.9.9
six==1.15.0
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.12.2
whitenoise==6.9.0

